<footer class="bg-dark text-white mt-5 pt-4 pb-2 text-center margin-top shadow wow fadeInUp" data- data-wow-duration="1s" data-wow-delay="0.5s">
     <div class="container ">
          <p class="text-muted">
               &copy; 2025 Pensinova Technologies. All rights reserved.
          </p>
          <p class="text-muted">
               Follow us on
               <a href="https://twitter.com/yourcompany" target="_blank">Twitter</a>,
               <a href="https://facebook.com/yourcompany" target="_blank">Facebook</a>, and
               <a href="https://instagram.com/yourcompany" target="_blank">Instagram</a>.
          </p>
          <p class="text-muted">
               <a href="/privacy-policy">Privacy Policy</a> | 
               <a href="/terms-of-service">Terms of Service</a>
          </p>
          <p class="text-muted">
               Contact us at <a href="mailto:pensinova@gmail.com">pensinova@gmail.com</a>
          </p>
     </div>
</footer>